<h2 class="mb-5">External Properties Data</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Year Built</th>
      <th scope="col">List Price</th>
      <th scope="col">Monthly Rent</th>
      <th scope="col">Gross Yield</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let realProperty of realProperties">
      <td>{{realProperty.address}}</td>
      <td>{{realProperty.yearBuilt}}</td>
      <td>{{realProperty.listPrice | currency:"":"symbol"}}</td>
      <td>{{realProperty.monthlyRent | currency:"":"symbol"}}</td>
      <td>{{realProperty.grossYield | percent:'2.2'}}</td>
      <td><button type="button" class="btn btn-success" (click)="AddExternalToInteral(realProperty)"><i class="fa fa-plus-circle"></i> Add to internal data</button></td>
    </tr>
  </tbody>
</table>
