<h2 class="mb-5">Internal Properties Data</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Year Built</th>
      <th scope="col">List Price</th>
      <th scope="col">Monthly Rent</th>
      <th scope="col">Gross Yield</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="realProperties?.length === 0">
      <td colspan="5" class="text-center">No data available</td>
    </tr>
    <tr mdbTableCol *ngFor="let realProperty of realProperties">
      <td>{{realProperty.address}}</td>
      <td>{{realProperty.yearBuilt}}</td>
      <td>{{realProperty.listPrice | currency:"":"symbol"}}</td>
      <td>{{realProperty.monthlyRent | currency:"":"symbol"}}</td>
      <td>{{realProperty.grossYield | percent:'2.2'}}</td>
    </tr>
  </tbody>
</table>
